---
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
import styles from "./recursos.module.scss";
import CardHome from "../components/cardHome.astro";
import finanzas from "../images/ic_finanzas.png";
import clipboard from "../images/ic_clipboard.png";
import youtube from "../images/ic_youtube.png";
import books from "../images/ic_books.png";

---

<Document title="Poner tus finanzas en orden no tiene que ser aburrido!">
  <SEO slot="head" title="Recursos gratuitos para iniciar de la mejor forma!" />
  <main class={`mainContentsOnlyAnim ${styles.container}`}>
    <div class={styles.innerContainer}>

      <CardHome
        title="(iPhone)"
        subtitle="SPENT"
        body="El app para controlar tus gastos"
        image={finanzas}
        alt="SPENT"
        cardColor="#E9FCEC"
        hoverColor="#D2F9D8"
        color="#105624"
        link="https://apps.apple.com/cr/app/spent/id6449729260"
      />

      <CardHome
        title=""
        subtitle="0 a 100: Finanzas"
        body="Mini-curso gratuito"
        image={youtube}
        alt="Icono YouTube"
        cardColor="#EEEFF7"
        color="#0E1332"
        hoverColor="#DCDEEF"
        link="https://youtu.be/L4aDAHrlGJ0?si=f1GhAyU9hWWwZdPJ"
      />

      <CardHome
        title=""
        subtitle="0 a 100: Inversiones"
        body="Mini-curso gratuito"
        image={youtube}
        alt="Icono YouTube"
        cardColor="#EEEFF7"
        color="#0E1332"
        hoverColor="#DCDEEF"
        link="https://youtu.be/IHubwz0xODU?si=HXeVx7aR2akJ-p-2"
      />

      <CardHome
        title=""
        subtitle="Presupuesto simple"
        body="Una plantilla gratuita para tu presupuesto"
        image={clipboard}
        alt="Icono Presupuesto"
        cardColor="#FBF7E9"
        color="#7F2C0E"
        hoverColor="#FEEFD4"
        link="/downloads/PlantillaPresupuestoRIPWallet-2024.xlsx"
      />


      <CardHome
        title=""
        subtitle="Biblioteca"
        body="Lecturas que te pueden servir"
        image={books}
        alt="Icono Libros"
        cardColor="#EAF8FB"
        color="#145C6B"
        hoverColor="#D4F1F7"
        link="/libros"
      />


    </div>
  </main>
</Document>
