---
import styles from "./cardHome.module.scss";

interface CardProps {
  title: string;
  subtitle: string;
  body: string;
  image: string;
  altImage: string;
  cardColor: string;
  hoverColor: string;
  color: string;
  link: string;
}

const { title, subtitle, body, image, altImage, cardColor, color, hoverColor, link } =
  Astro.props as CardProps;
---

<a href={link} class={styles.cardLink} >
  <div class={styles.card} style={`--card-color: ${cardColor}; --hover-color: ${hoverColor};`}>
    <div class={styles.text} style={`color: ${color}`} >
      <h3>{title}</h3>
      <h2>{subtitle}</h2>
      <p>{body}</p>
    </div>
    <div class={styles.icon}>
      <img src={image} alt={altImage} />
    </div>
  </div>
</a>