---
import styles from "./card.module.scss";
import {Button} from "./button";

interface CardProps {
  title: string;
  body: string;
  buttonText: string;
  imageUrl: string;
}

const { title, body, buttonText, imageUrl } = Astro.props as CardProps;
---

<div class={styles.cardContainer}>
  <img class={styles.img} src={imageUrl} alt="" />
  <h2 class={styles.title}>{title}</h2>
  <p class={styles.body}>{body}</p>
  <div><Button>{buttonText}</Button></div>
</div>
