---
import styles from "./card.module.scss";
import { Button } from "./button";

interface CardProps {
  title: string;
  body: string;
  buttonText: string;
  buttonHref: string;
  imageUrl: string;
  class: string;
}

const { title, body, buttonText, imageUrl, buttonHref, class: className } =
  Astro.props as CardProps;
---

<div class={`${styles.cardContainer} ${className || ""}`}>
  <img class={styles.img} src={imageUrl} alt="" />
  <h2 class={`${styles.title} text-style-headline-2 `}>{title}</h2>
  <p class={`${styles.body} text-style-body`}>{body}</p>
  <div><Button href={buttonHref}>{buttonText}</Button></div>
</div>
