---
import styles from "./footer.module.scss";
import {Button} from "./button";
---

<footer class={styles.footer}>
    <Button variant="secondary">@ripwallet.cr - 2023</Button>
    <div class={styles.spacer}/>
    <Button className={styles.frameworkButton} variant="secondary" href="mailto:ripwallet.cr@gmail.com">Contacto</Button>
    <Button className={styles.frameworkButton} variant="secondary" href="/acerca">Acerca De</Button>
</footer>
