---
import styles from "./header.module.scss";

import { IconOnlyButton, Button } from "./button";

import Icon from "astro-icon";

interface HeaderProps {
  buttonId: string;
}

const { buttonId } = Astro.props as HeaderProps;
---

<header>
  <div class={styles.mobileHeader}>
    <div class={`${styles.halfContainers}`} id={buttonId}>
      <IconOnlyButton variant="secondary">
        <Icon name="Menu" height="100%" width="100%" />
      </IconOnlyButton>
    </div>
    <img class={styles.centerLogo} src="/images/RIP Wallet Logo.png" alt="" />
    <div class={`${styles.halfContainers}`}>
      <div class={styles.spacer}></div>
      <IconOnlyButton variant="secondary">
        <Icon name="Calendar" height="100%" width="100%" />
      </IconOnlyButton>
    </div>
  </div>
  <div class={styles.desktopHeader}>
    <div class={`${styles.halfContainers} ${styles.iconContainer}`}>
      <IconOnlyButton variant="secondary">
        <Icon name="TikTok" height="100%" width="100%" />
      </IconOnlyButton>
      <IconOnlyButton variant="secondary">
        <Icon name="YouTube" height="100%" width="100%" />
      </IconOnlyButton>
      <IconOnlyButton variant="secondary">
        <Icon name="Instagram" height="100%" width="100%" />
      </IconOnlyButton>
    </div>
    <img class={styles.centerLogo} src="/images/RIP Wallet Logo.png" alt="" />
    <div class={`${styles.halfContainers}`}>
      <div class={styles.spacer}></div>
      <nav class={styles.linkNav}>
        <Button variant="secondary">Finanzas</Button>
        <Button variant="secondary">Inversiones</Button>
        <Button variant="secondary">Recursos</Button>
      </nav>
    </div>
  </div>
</header>
