---
import styles from "./header.module.scss";

import Icon from "astro-icon"
---

<header>
    <div class={styles.mobileHeader}>
        <div class={`${styles.halfContainers}`}>
            <Icon name="mdi:menu" height="30" width="30"/>
        </div>
        <img class={styles.centerLogo} src="/images/RIP Wallet Logo.png" alt=""/>
        <div class={`${styles.halfContainers}`}>
            <div class={styles.spacer} />
            <Icon name="mdi:calendar" height="30" width="30"/>
        </div>
    </div>
    <div class={styles.desktopHeader}>
        <div class={`${styles.halfContainers} ${styles.iconContainer}`}>
            <Icon name="simple-icons:tiktok" height="30" width="30"/>
            <Icon name="simple-icons:youtube" height="30" width="30"/>
            <Icon name="simple-icons:instagram" height="30" width="30"/>
        </div>
        <img class={styles.centerLogo} src="/images/RIP Wallet Logo.png" alt=""/>
        <div class={`${styles.halfContainers}`}>
            <div class={styles.spacer} />
            <nav class={styles.linkNav}>
                <p>finanzas</p>
                <p>inversiones</p>
                <p>recursos</p>
            </nav>
        </div>
    </div>
</header>
