---
import styles from "./sidebar.module.scss";
import Icon from "astro-icon";
import { IconOnlyButton, IconAndTextButton } from "./button";

interface SidebarProps {
  sidebarId: string;
  closeId: string;
}

const { sidebarId, closeId } = Astro.props as SidebarProps;
---

<div id={sidebarId} class={styles.container}>
  <div class={styles.mobileHeader}>
    <div class={`${styles.halfContainers}`} id={closeId} }>
      <IconOnlyButton variant="secondary">
        <Icon name="Close" height="100%" width="100%" />
      </IconOnlyButton>
    </div>
    <img class={styles.centerLogo} src="/images/RIP Wallet Logo.png" alt="" />
    <div class={`${styles.halfContainers}`}>
      <div class={styles.spacer}></div>
      <IconOnlyButton variant="secondary">
        <Icon name="Calendar" height="100%" width="100%" />
      </IconOnlyButton>
    </div>
  </div>
  <div class={styles.contents}>
    <IconAndTextButton variant="secondary">
      <Icon name="List" slot="leftIcon" height="100%" width="100%" />
      finanzas personales
    </IconAndTextButton>
    <IconAndTextButton variant="secondary">
      <Icon name="Couple" slot="leftIcon" height="100%" width="100%" />
      finanzas en pareja
    </IconAndTextButton>
    <IconAndTextButton variant="secondary">
      <Icon name="Dollar" slot="leftIcon" height="100%" width="100%" />
      inversiones
    </IconAndTextButton>
    <IconAndTextButton variant="secondary">
      <Icon name="Bookmark" slot="leftIcon" height="100%" width="100%" />
      recursos
    </IconAndTextButton>
    <IconAndTextButton variant="secondary">
      <Icon name="Email" slot="leftIcon" height="100%" width="100%" />
      contacto
    </IconAndTextButton>
    <IconAndTextButton variant="secondary">
      <Icon name="Info" slot="leftIcon" height="100%" width="100%" />
      acerca de
    </IconAndTextButton>
  </div>
  <div class={styles.footer}>
    <IconOnlyButton variant="secondary">
      <Icon name="Instagram" height="100%" width="100%" />
    </IconOnlyButton>
    <IconOnlyButton variant="secondary">
      <Icon name="YouTube" height="100%" width="100%" />
    </IconOnlyButton>
    <IconOnlyButton variant="secondary">
      <Icon name="TikTok" height="100%" width="100%" />
    </IconOnlyButton>
  </div>
</div>
